.gx-bg-img  {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed
};

.gx-text-fading {
    background: -webkit-linear-gradient(#000, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
};