{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    {% if note.note_title %}
    Edit: {{note.note_title}}
    {% else %}
    Edit: Untitled
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class = "container">
        <div class = "row justify-content-center align-items-center">
            <div class = "col col-xl-8 col-lg-10 col-md-12">
                <form class = "form" action = "{% url 'home:edit_note' note.id %}" method = "post">
                    {% csrf_token %}
                    <div class = "input-group">
                        <span class = "input-group-text">Title:</span>
                        <input type = "text" class = "form-control" placeholder = "Untitled" name = "note_title" value = "{{note.note_title}}"></input>
                    </div>
                    <hr>
                    <p>Content:</p>
                    <textarea class = "form-control" placeholder = "Empty" rows = 25 name = "note_content">{{note.note_content}}</textarea>
                    <div class = "float-end my-3">
                        <input type = "submit" class = "btn btn-secondary" name = "cancel" value = "Cancel"></input>
                        <input type = "submit" class = "btn btn-primary" name = "save" value = "Save"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}